body {
margin: 0;
color: #333;
background-color: #eaeaea;
font-family: 'Montserrat', sans-serif;
font-size: 16px;
}


h1, h2 {
font-family: 'Montserrat', sans-serif;
}


/* ===== ГОЛОВНА СЕКЦІЯ ===== */
.section-main {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: #556b2f;
padding-top: 40px;
padding-bottom: 120px;
}


.section-main-logo {
width: 160px;
}


.section-main-title {
margin-top: 40px;
margin-bottom: 20px;
color: #fff;
font-size: 55px;
font-weight: 700;
}


.section-main-subtitle {
padding-bottom: 40px;
color: #fff;
font-size: 22px;
}


.section-main-button {
display: inline-block;
background-color: #8fbc8f;
border-radius: 25px;
color: #fff;
font-weight: 700;
text-transform: uppercase;
padding: 12px 30px;
text-decoration: none;
cursor: pointer;
}


/* ===== ДРУГА СЕКЦІЯ ===== */
.second-section {
display: flex;
justify-content: space-evenly;
align-items: center;
padding: 100px 20px;
}


.second-section-img {
width: 500px;
max-width: 100%;
border: 5px solid #556b2f;
border-radius: 20px;
}


.second-section-info {
margin-left: 30px;
max-width: 600px;
}


.section-subtitle {
margin-top: 0;
margin-bottom: 10px;
color: #8fbc8f;
font-size: 18px;
font-weight: 700;
text-transform: uppercase;
}


.section-title {
margin-top: 0;
margin-bottom: 40px;
color: #556b2f;
font-size: 32px;
font-weight: 700;
}


.second-section-text {
margin: 30px 0;
color: #666;
}
